.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.avatar {
  height: 2.65rem;
  width: 2.65rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-label {
  font-size: 20px;
  color: #000;
}

.form-control, .btn {
  box-shadow: none !important;
}